resources/
*.o
*.pyc
.DS_Store
cs
python_modules/tracereplay/build/
python_modules/posix-omni-parser/
python_modules/parse-syscall-definitions/
*.pickle
*.swo
*.swp
*.log
*~
\#*\#
pylintrc
.snips
CrashSimulator.iml
.idea

