*.strace
opensocket
mtu_receiver_good
callread
callselect
callstat64
callllseek
callgetcwd
calluname
callgetrlimit
calltcgets
callstatfs64
callgetsockname
callpoll_null
callgetaddrinfo
callsetlocale
nonblock
charactertest
