*.strace
opensocket
mtu_receiver_good
callread
callselect
callstat64
callllseek
callgetcwd
calluname
callgetrlimit
calltcgets
callstatfs64
callgetsockname
callpoll_null
callgetaddrinfo
callsetlocale
nonblock
charactertest
callselect_noaction
read_known_hosts
dropbear_read_calls
callrename
callgetdents64
callreaddir
network_speedtest
filesystem_speedtest
setsockoptchristmas
callrecvfrom
calllstat64
callmkstemp
callpoll